<!DOCTYPE html>
<html>

<head>
	<title>FAT Forge</title>
	<meta charset="UTF-8">
	<meta name="description" content="factory accepance testing">
	<meta name="author" content="Kyle Thomas">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<!--
		create test link
		list test groups (pull down to navigate) groups can be nested
			clicking on test will link to test view page
		link to your unfinished tests?
		user management link*
		profile page link
	-->
	{% if user.roles.create_tests %}
	<a href="createtest.html">Create Test</a>

	<form action="/create_group.html">
		<label for="gname">Group name:</label><br>
		<input type="text" id="gname" name="gname" value="Group Name"><br>

		<label for="group_parent">Parent Group:</label>
		<select name="group_parent" id="parent_group">
			<option value="">None</option>
			{% for group in groups %}
			<option value="" {% if group.subgroups !=null %} <!-- hmm, shoot, this may need to recurse or
				get flattened, or something? -->
				{% endif %}
				{% endfor %}
				<optgroup label="Swedish Cars">
					<option value="volvo">Volvo</option>
					<option value="saab">Saab</option>
				</optgroup>
				<optgroup label="German Cars">
					<option value="mercedes">Mercedes</option>
					<option value="audi">Audi</option>
				</optgroup>
		</select>

		<br><br>
		<input type="submit" value="Submit">
	</form>
	{% endif %}

	<ul>
		{% for group in groups %}
		<li>{{ group.name }} {% if user.roles.create_tests}create subgroup button{% endif %}</li>
		<!-- todo: recursion for nested groups -->
		{% endfor %}
	</ul>

	<a href="profile.html">Manage Profile</a>

	{% if users.roles.manage_users %}
	<a href="usermanagement.html">Manage Users</a>
	{% endif %}
</body>

</html>
