<!DOCTYPE html>
<html>

<head>
	<title>FAT Forge - User Profile</title>
	<meta charset="UTF-8">
	<meta name="description" content="factory accepance testing">
	<meta name="author" content="Kyle Thomas">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<!--
		Show username
		Field to input a new password
	-->
	<h1>Hello, {{ name }}</h1>
	<form action="/user_password_change">
		<label for="user_password_change">Change Password:</label><br>
		<input type="password" id="user_password_change" name="user_password_change"
			value="Enter a new password">
		<br><br><input type="submit" value="Submit">
	</form>
</body>

</html>
